footer{

    background:  #F05154;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: 微软雅黑;
    font-size: 18px;
    text-align: center;
    color: white;
}
footer a{
    text-decoration: none;
    color: white;
}
footer a:hover{
    text-decoration: underline;
}

.footer-logoBox img{
    width: 80px;
    height:80px;
}
footer .content{

    width: 80%;
    margin: 0 auto;
}
@media screen and (max-width:992px){
    footer{
        font-size: 16px;
    }
}
@media screen and (max-width:768px){
    footer{
        font-size: 12px;
    }
}